* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color: var(--text-color);
}
:root {
  --text-color: white;
  --bg-url: url(assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color-dark-mode: rgba(255, 255, 255, 0.1);
  --hightlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url("assets/moon-stars.svg");
}
.light {
  --text-color: black;
  --bg-url: url(assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color-dark-mode: rgba(0, 0, 0, 0.05);
  --hightlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url("assets/sun.svg");
}
body {
  background: var(--bg-url) no-repeat top center/cover;
  font-family: "Inter", sans-serif;
}
#container {
  width: 360px;
  height: 800px;
  margin: 0 auto;
  padding: 0 24px;
  margin-top: 56px;
}
#profile {
  text-align: center;
  margin: 24px 0;
}
#profile img {
  width: 112px;
}
#profile p {
  font-weight: 500;
  line-height: 24px;
}
#switch {
  width: 64px;
  position: relative;
  margin: auto;
  margin-bottom: 24px;
}
#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
}
.light #switch button {
  left: initial;
  right: 0;
}
#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color-dark-mode);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  background: rgba(255, 255, 255, 0.1);
  font-weight: 500;
  border-radius: 8px;
  border: 1px solid var(--stroke-color);
  background: var(--surface-color-dark-mode);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  transition: background 0.5s;
  padding: 24px 0;
}
ul li a:hover {
  border: 1.5px solid var(--text-color);
  background: var(--surface-color-dark-mode-hover);
}
#social-links {
  display: flex;
  padding: 24px 0;
  justify-content: center;
  font-size: 24px;
}
#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 50%;
  transition: background 0.2s;
}
#social-links a:hover {
  background: var(--hightlight-color);
}

footer {
  padding: 24px 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  text-align: center;
}
